@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px -4px 46px -12px rgba(0,0,0,0.66); 
    box-shadow: 0px -4px 46px -12px rgba(0,0,0,0.66);
    
}
header .logo
{
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    text-decoration: none;
}
header .logo a{
    text-decoration: none;
    color: #11507a;
}
header .menu{
    margin-right: 40px;
}
header .menu ul{
    list-style: none;
    display: flex;

}
header .menu ul li{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    flex-wrap: wrap;
    background-color: #c9c9c9;
    border-radius: 5px;
    color: #333333;
}
header .menu ul a{
    text-decoration: none;
}
header .menu ul li:hover{
    background-attachment: fixed;
    padding: 10px;
    background-color: #929090;
}
