@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0e7e7;
}
header{
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px -4px 46px -12px rgba(0,0,0,0.66); 
    box-shadow: 0px -4px 46px -12px rgba(0,0,0,0.66);
    
}
header .logo
{
    font-size: 3.5em;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    text-decoration: none;
    line-height: 50px;
}
header .logo a{
    text-decoration: none;
    color: #11507a;
}


header .menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: clamp(10px, 50px, 70px);

}
header .menu ul li{
    padding: 7px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    margin-right: 3px;
    margin-top: 3px;
    background-color: #c9c9c9;
    border-radius: 5px;
    color: #333333;
    display: flex;
    justify-content: center;
}
header .menu ul a{
    text-decoration: none;
}
header .menu ul li:hover{
    background-color: #929090;
}

.section{
    background-color: #11507a;
    width: 100%;
    height: 30vh;
    margin-top:30px;
    display: flex;
    justify-content: center;
}
 .container{
     background-color: #929090;
     width: 80%;
     display: flex;
     justify-content: center;
 }